<% provide(:title, "Log in")%>
<h1>Log in</h1>

<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(:session, url: login_path) do |f| %>
			<%= f.email_field :email %>

			<%= f.label :password %>
			<%= link_to "(forgot password)", new_password_reset_path %>
			<%= f.password_field :password, hide_label: true %>

			<%= f.form_group :remember_me do %>
				<%= f.check_box :remember_me, label: "remember me on this computer" %>
			<% end %>

			<%= f.submit "Log in", class: "btn btn-primary" %>
		<% end %>

		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>
