<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(@user, url: password_reset_path(params[:id])) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= hidden_field_tag :email, @user.email %>

			<%= f.password_field :password, help: "(must be at least 6 characters long)" %>

			<%= f.password_field :password_confirmation, label: "Confirm Password"%>

			<%= f.submit "Update password", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
