<%= f.text_field :name %>
<%= f.email_field :email %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation, label: "Confirm Password" %>
<span class="picture">
	<%= f.file_field :profile_picture, accept: 'image/jpeg,image/gif,image/png' %>
	<%= f.hidden_field :profile_picture_cache %>
</span>

<script type="text/javascript">
	$('#user_profile_picture').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB. Please choose a smaller file.');
		}
	});
</script>
