<li>
	<%= link_to image_tag(user.profile_picture.url(:thumbnail), class: "gravatar", 
												width: 60, height: 60), user %>
	<%= link_to user.name, user, id: "name" %>
	<section>
		<% if current_user.admin? and !current_user?(user) %>
			<%= link_to "delete", user, method: :delete, date: {confirm: "You sure?"} %>
		<% end %>
	</section>
</li>
