@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

body {
	//background-image: image-url('background.jpg');
	//background-repeat: no-repeat;
	//background-size: 100%;
	//background-attachment: fixed;
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	margin-top: 10px;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 2.4em;
	font-family: "Zapf Chancery", cursive;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#menu {
	font-size: 18px;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	a {
		color: $gray-light;
		&:hover {
			color: MediumSeaGreen;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
		h1 {
			font-size: 25px;
		}
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 15px;
}

.gravatar_edit {
	margin-top: 15px;
}

.stats.follow {
	overflow: auto;
	a {
		border-left: 1px solid $gray-lighter;
		color: gray
	}
	&:hover {
		text-decoration: none;
		color: MediumSeaGreen;
	}
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a {
		font-size: 20px;
		float: left;
		padding: 0 10px;
		//border-left: 3px solid $gray-lighter;
		//color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: MediumSeaGreen;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 20px;
	.gravatar {
		margin: 1px 1px;
	}
	a {
		padding: 0;
	}
}

.users.follow {
	padding: 0;
}

/* forms */

input {
	font-size: 18px !important;
	height: auto !important;
}

textarea {
	font-size: 18px !important;
	width: 90% !important;
}

label {
	font-size: 18px !important;
}

/* Users index */

.users {
	list-style: none;
	margin-left: 0px;
	margin-top: 20px;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
	#name {
		color: white;
		font-size: 18px;
		&:hover {
			color: MediumSeaGreen;
		}
	}
}

/* microposts */

.microposts {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	.user {
		font-size: 18px;
		margin-top: 5em;
		padding-top: 0;
	}
	.content {
		font-size: 20px;
		display: block;
		margin-left: 60px;
		img {
			display: block;
			padding: 5px 0;
			margin-top: 15px;
			margin-left: 20px;
		}
	}
	.timestamp {
		color: $gray-light;
		display: block;
		margin-left: 78px;
	}
	.gravatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}

span.view_profile {
	margin-top: 20px;
}


/* twitter-typeahead */

.tt-dropdown-menu {
	width: 100%;
	min-width: 160px;
	margin-top: 5px;
	padding: 5px 0;
	color: darkslategray;
	background-color: aliceblue;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.tt-suggestion {
	display: block;
	padding: 3px 15px;
	color: #gray;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

@import "bootswatch/darkly/bootswatch";
